body
{
background-image:url('pictures/back.jpg');
}
.header
{
background-image:url('pictures/header.gif');
height:400px;
width:880px;
position:absolute;
float:left;
margin-left:60px;
}
.a,.b,.c
{
background-color:#F0E5E5;
height:30px;
width:100px;
float:left;
position:relative;
margin-top:384px;
border:0px;
font-size:20px;
text-align:center;
color:#0E0705;
}
.d
{
background-color:#F0E5E5;
height:30px;
width:150px;
float:left;
position:relative;
margin-top:384px;
border:0px;
color:#0E0705;
font-size:20px;
text-align:center;
}
.e
{
background-color:#F0E5E5;
height:30px;
width:180px;
float:left;
position:relative;
margin-top:384px;
border:0px;
color:#0E0705;
font-size:20px;
text-align:center;
}
.epal
{
background-color:#F0E5E5;
height:30px;
width:250px;
float:left;
position:relative;
margin-top:384px;
border:0px;
color:#0E0705;
}
a.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.q,.bo,:link {
text-decoration:none;
}
a.bo:link
{
color:blue;
}
a:hover
 {
	background-color: #581A04;
	color:#CCA89B; 
}
a.be:hover
 {
	background:transparent;
	color:#000000;
	font-weight:bold;
	}
a.bo:hover
 {
	background:transparent;
	color:#000000;
	font-family:calibri;
}
a.epal:hover
 {
	background-color:#F0E5E5;
	color:#000000;
	font-family:calibri;
	}
.l,.m,.n,.o,.p
{
border:0px solid #000000;
}
.box1
{
background-image:url('pictures/box1.jpg');
height:190px;
width:250px;
position:relative;
float:left;
margin-left:60px;
margin-top:425px;
Font-size:15px;
font-family:Arial;
text-align:center;
}
.sign,.head,.Degree
{
background-image:url('pictures/a.jpg');
color:white;
padding:2px;
font-size:20px;
}
.search
{
background:#330000;
height:22px;
width:244px;
margin-top:607px;
margin-left:60px;
float:left;
position:absolute;
padding:3px;
color:white;
font-family:arial;
font-size:14px;
}
.box
{
background-image:url('pictures/box1.jpg');
height:160px;
width:250px;
position:absolute;
float:left;
margin-left:60px;
margin-top:415px;
Font-size:15px;
font-family:"Calibri";
text-align:center;
}
.box2
{
background-image:url('pictures/c.bmp');
height:420px;
width:595px;
position:relative;
float:left;
margin-left:20px;
padding-top:5px;
padding-right:15px;
margin-top:425px;
Font-size:15px;
font-family:Arial;
text-align:center;
}

.courses
{
margin-top:700px;
margin-left:60px;
float:left;
position:absolute;
padding:5px;
}
.open
{
margin-top:700px;
margin-left:225px;
float:left;
position:absolute;
padding:5px;
}
.ics
{
margin-top:780px;
margin-left:60px;
float:left;
position:absolute;
padding:5px;
}
.conferences
{
margin-top:780px;
margin-left:140px;
float:left;
position:absolute;
padding:5px;
}
.abstract
{
margin-top:780px;
margin-left:220px;
float:left;
position:absolute;
padding:5px;
}
.w3
{
margin-top:875px;
margin-left:140px;
float:left;
position:absolute;
padding:5px;
}
.f,.g,.h,.i,.j,.k,.q
{
height:30px;
width:250px;
float:left;
position:relative;
border:0px;
font-size:20px;
color:#0E0705;
text-align:center;
}
.ox
{
background-image:url('pictures/box1.jpg');
float:left;
position:absolute;
height:205px;
width:250px;
margin-left:60px;
margin-top:580px;
Font-size:15px;
font-family:"Calibri";
text-align:center;
}
.box3
{
background-image:url('pictures/box3.jpg');
height:590px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
}
.box7
{
background-image:url('pictures/box3.jpg');
height:590px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
overflow:scroll;
}
.lists
{
text-align:center;
font-size:16px;
font-family:arial;
font-weight:bold;
}
.s
{
background:#330000;
color:white;
font-family:Calibri;
text-align:center;
font-size:24px;
}
.content
{
margin-top:10px;
background-image:url('pictures/b.jpg');
height:360px;
width:580px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.da
{
margin-top:425px;
margin-left:10px;
background-image:url('pictures/b.jpg');
height:350px;
width:609px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.ca
{
text-align:center;
}
.contents
{
background-image:url('pictures/b.jpg');
margin-top:10px;
height:615px;
width:580px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.de
{
background-image:url('pictures/b.jpg');
margin-top:10px;
margin-left:320px;
height:610px;
width:609px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.contentss
{
margin-top:10px;
background-image:url('pictures/b.jpg');
height:280px;
width:580px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.dc
{
margin-top:10px;
margin-left:320px;
background-image:url('pictures/b.jpg');
height:225px;
width:609px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}
.footer1
{
background:#CCA89B;
height:17px;
width:992px;
margin-top:50px;
position:relative;
float:left;
text-align:center;
}
.contentsss
{
margin-top:10px;
background-image:url('pictures/b.jpg');
height:300px;
width:580px;
position:relative;
float:left;
padding:5px;
font-family:arial;
}

.t
{
color:black;
font-weight:bold;
font-size:20px;
}
.tags
{
color:black;
font-weight;bold;
}
.box4
{
background-image:url('pictures/box5.jpg');
height:360px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box15
{
background-image:url('pictures/b.jpg');
height:450px;
width:610px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box16
{
background-image:url('pictures/b.jpg');
height:620px;
width:610px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box17
{
background-image:url('pictures/b.jpg');
height:240px;
width:610px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box5
{
background-image:url('pictures/box3.jpg');
height:655px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
overflow:scroll;
}
.y
{
text-indent:60px;
}
.box6
{
background-image:url('pictures/box3.jpg');
height:367px;
width:620px;
position:absolute;
float:left;
margin-left:315px;
margin-top:415px;
font-family:arial;
font-size:16px;
padding:2px;
}
.z
{
font-size:17px;
text-align:justify;
}
.box8
{
background-image:url('pictures/box5.jpg');
height:875px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
#bu
{
font-weight:bold;
}
.box9
{
background-image:url('pictures/box5.jpg');
height:960px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box10
{
background-image:url('pictures/box5.jpg');
height:620px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box11
{
background-image:url('pictures/box5.jpg');
height:450px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
Font-size:15px;
font-family:Arial;
color:black;
}
.box12
{
background-image:url('pictures/box3.jpg');
height:690px;
width:605px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
}
.box13
{
background:transparent;
height:690px;
width:610px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
overflow:scroll;
}
.box14
{
overflow:scroll;
background:transparent;
height:690px;
width:610px;
position:absolute;
float:left;
margin-left:320px;
margin-top:415px;
padding:5px;
font-family:arial;
}