body
{
background-image:url('2,jpg.jpg');
background-color:#f1f1ed;
overflow:auto;
height:100%
}

div.header_txt
{
width:950px; 
height:130px;
padding:10px;
margin-left:6px;
border:5px groove #8B4513;
color:	#400000 ;
position:absolute;
text-indent:40px;
font-size:100px;
font-weight:bold;
font-family:"Chiller",TrueType;
font-weight:inherit;
}
div.header_img
{
float:left;
height:100px;
width:100px;
padding:10px;
position:absolute;
text-align:center;
left:0px;
top:0px;
z-index:-1;
}

p.welcome
{
position:absolute;
width:950px;
height:39px;
padding:10px;
margin:6px;
border:5px groove #8B4513;
border-top:0px;
color:#fffffff;
text-align:center;
font-size:40px;
font-family:"Blackadder ITC",TrueType;
}
div.who_txt
{
float:left;
position:absolute;
width:565px; 
height:250px;
padding-left:10px;
padding-right:5px;
padding:2px;
margin:6px;
border:5px groove #8B4513;
border-top:0px;
}
p.who_txt
{
text-indent:10px;
font-size: 25px;
font-weight:bold;
color:#fffffff;
font-family:"Verdana",TrueType;
}
.des
{
padding:3px;
font-weight:bold;
text-align: justify;
color:#fffffff;
font-size:13px;
font-family:"Verdana",TrueType;
}
div.info_img
{
float:right;
text-align:center;
width:370px; 
height:835px;
padding:10px;
margin-right:4px;
margin-top:5px;
margin-bottom:0px;
margin-left:0px;
border:5px groove #8B4513;
border-top:0px;
border-left:0px;
font-size:20px;
font-style:oblique;
font-weight:bold;
font-family:"Tempus sans ITC", trueType;
}
div.blog_txt
{

float:left top;
position:absolute;
width:260px; 
height:590px;
padding:3px;
margin-top:1000px;
margin:6px;
border:5px groove #8B4513;
border-top:0px;
}
h2.blog_txt
{
text-align:center;
color:#fffffff;
font-family:"Arial",sans;
}
.blog2
{
color:#fffffff;
position:absolute;
text-align:justify;
font-size:14px;
font-family:"Arial",sans;
font-weight:bold;
padding:5px;
}
div.song_txt
{
color:#0000000;
float:left top;
position:absolute;
width:280px; 
height:578px;
padding:10px;
margin-top:5px;
margin-left:280px;
border:5px groove #8B4513;
border-top:0px;
border-left:0px;
}

h2.song_txt
{
text-align:center;
color:#fffffff;
font-family:"Arial",sans;
}
p.title
{
text-indent:17px;
color:#fffffff;
font-weight:bold;
font-size:25px;
font-family:"Arial",sans;
}
div.song_img
{
float:bottom;
margin-top:1060px;
height:60px;
width:55px;
padding:0px;
position:left;
z-index:-1;
}
p.song2
{
font-weight:bolder;
color:#fffffff;
text-align:justify;
font-size:14px;
font-family:"Arial",sans;
}

div.footer_txt
{
float: bottom;
width:950px; 
height:90px;
padding:10px;
margin-top:600px;
margin-left:6px;
border-top:0px;
border:5px groove #8B4513;
color:#fffffff;
position:absolute;
text-indent:15px;
font-size:30px;
font-weight:bold;
font-family:"Chiller",TrueType;
font-weight:inherit;
}
img.footer_img
{
float:bottom;
margin-top:1070px;
height:50px;
width:50px;
padding:10px;
position:absolute;
left:0px;
top:0px;
z-index:-1;
}
.footer
{
margin-top:1108px;
margin-left:90px;
margin-right:90px;
color:#fffffff;
text-align:center;
font-weight:bold;
font-size:11px;
font-family:"Arial",sans;
}

</body>



