
body{
margin:auto;

}

#centercontainer
{
background-color:#FFFFFF;
height:675px;
margin:0px 300px;
color:#000000;
}

#maincontainer
{
background-color:#FFFFFF;
height:500px;
color:#000000;
margin:90px 0px;
border-width:1px;
border-color:#000000;
border-style:solid;
}

#top
{
background-color:#FFFFFF;
height:350px;
color:#000000;
margin:auto;
border-width:1px;
border-color:#000000;
border-style:solid;
}

#topleft
{
background-color:#FFFFFF;
width:241px;
height:inherit;
color:#000000;
margin:auto;
border-width:1px;
border-color:#000000;
border-style:solid;
float:left;

}

#topright
{
background-color:#FFFFFF;
width:500px;
height:inherit;
color:#000000;
margin:auto;
border-width:1px;
border-color:#000000;
border-style:solid;
float:right;
}

#bottom
{
background-color:#FFFFFF;
height:150px;
color:#000000;
margin:auto;
border-width:1px;
border-color:#000000;
border-style:solid;
}